    <div class="container">
        <div class="row">
            <div id="info-wrapper">
                <div class="left">
                    <div class="info-container">
                        <p>Hello, here is some in for you. </br> 
                            And some various guff and all that</p>
                    </div>
                    <div class="info-container">
                        <p>Hello, here is some in for you. </br> 
                            And some various guff and all that</p>
                    </div>
                </div>
                <div class="right">
                    <div class="info-container">
                        <p>Hello, here is some in for you. </br> 
                            And some various guff and all that</p>
                    </div>
                    <div class="info-container">
                        <p>Hello, here is some in for you. </br> 
                            And some various guff and all that</p>
                    </div>
                </div>
            </div>
        </div>
    </div>