/* Coolors Exported Palette - coolors.co/d00000-ffba08-3f88c5-032b43-136f63 */

/* HSL */
$color1: hsla(0%, 100%, 41%, 1);
$color2: hsla(43%, 100%, 52%, 1);
$color3: hsla(207%, 54%, 51%, 1);
$color4: hsla(203%, 91%, 14%, 1);
$color5: hsla(172%, 71%, 25%, 1);

/* RGB */
$color1: rgba(208, 0, 0, 1);
$color2: rgba(255, 186, 8, 1);
$color3: rgba(63, 136, 197, 1);
$color4: rgba(3, 43, 67, 1);
$color5: rgba(19, 111, 99, 1);